sqlite3 libsqlite3-dev
pysqlite3
libpq-dev
gcc
psycopg2
postgresql postgresql-contrib postgresql-server-dev-all
os
requests
json
numpy==1.23.3 
pandas==1.5.0  
scikit-learn==1.1.2
python-youtube
mlflow
pickle
apache-airflow[celery]==2.2.5" \ --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.2.5/constraints-3.8.txt"
